# =========================
# Build outputs / binaries
# =========================
bin/
obj/
build/

# Visual Studio / VS workspace
.vs/
**/.vs/
*.slnx
*.VC.db
*.VC.opendb
*.ipch
*.db
*.sqlite
*.wsuo

# spirv files
*.spv
